In [1]:
from dataset import Dataset

In [2]:
data = Dataset('1h')
final_data_energy = data.preprocess()

/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:71: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x : np.nan if x == '-' else x) # convert - into nan so I can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:123: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  plcBestframe = plcBestframe.groupby('Time Bin', sort=True).agg({'Product Group':set,'SKU code':set,'Event Code':set,'Production Quantity (#) ':sum,'Duration (sec)':sum,'Καθαρές Μηχανοώρες (min)':sum}).reset_index()
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:123: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  plcBestframe = plcBestframe.groupby('Time Bin', sort=True).agg({'Product Group':set,'SKU code':set,'Event Code':set,'Production Quantity (#) ':sum,'Duration (sec)':sum,'Καθαρές Μηχανοώρες (min)':sum}).reset_index()
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:136: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mesBestframe = mesBestframe.groupby('Time Bin', sort=True).agg({'Περιγραφή υλικού':set,'Work Center':set,'Event Code':set,'Production Quantity (#)':sum,'Duration (min)':sum}).reset_index()
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:136: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  mesBestframe = mesBestframe.groupby('Time Bin', sort=True).agg({'Περιγραφή υλικού':set,'Work Center':set,'Event Code':set,'Production Quantity (#)':sum,'Duration (min)':sum}).reset_index()
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:196: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  plc_anal_df = plc_anal_df.groupby('Time Bin').mean().reset_index()
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:204: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  self.energy_data = self.energy_data.applymap(lambda x : np.nan if not x else x) # convert empty sets into nan so i can do fillna later
/home/stelios-pc/Desktop/PhD/HALCOR/dataset.py:207: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  self.energy_data = self.energy_data.fillna(method='ffill').fillna(method='bfill')

In [4]:
final_data_energy

,Timestamp,Real Energy,diff,Product Group,SKU code,Event Code_plc,Duration (sec),Καθαρές Μηχανοώρες (min),Work Center,Event Code_mes,...,DB 2000DBW 56 man counter,DB 700DBW 46 contener counter,DB 301DBW 272 cooling water mandrel outlet,DB 301DBW 274 cooling water mandrel inlet,DB 301DBW 276 mandrel coolng flow,DB 301DBW 96 mandrell movment,DB 30DBW 80 contener position,DB 10DBW 114 cont cooling air flow,MW 46 mikos bigetas,DB 301DBW 166 mikos solinas
0,2022-05-01 08:00:00,1.296980e+08,3.891417e+08,{DB3},{1.0},"{98.0, 99.0, 901.0}",2623.0,34.216667,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0, 0.0}",...,544.554743,2066.553884,64.473058,58.571367,163.411938,63.492118,13.894239,431.795357,816.170536,307.558255
1,2022-05-01 12:00:00,5.188397e+08,3.891417e+08,{DB3},{1.0},"{99.0, 98.0, 901.0, 0.0}",14669.0,192.916667,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0}",...,544.554743,2066.553884,64.473058,58.571367,163.411938,63.492118,13.894239,431.795357,816.170536,307.558255
2,2022-05-01 16:00:00,5.189115e+08,7.181542e+04,{DB3},{1.0},"{99.0, 98.0, 702.0, 0.0}",14366.0,172.883333,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0}",...,600.988510,2122.988069,58.686782,56.058016,126.138477,60.589637,21.618503,339.543426,815.726949,312.024554
3,2022-05-01 20:00:00,5.189749e+08,6.334578e+04,{DB3},{1.0},"{98.0, 0.0, 611.0, 701.0, 99.0}",11094.0,96.633333,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0, 0.0}",...,639.012936,2161.012326,52.120623,51.342161,94.952455,62.909177,111.900576,224.601084,814.096647,307.937216
4,2022-05-02 00:00:00,5.189935e+08,1.864765e+04,{DB3},{1.0},"{98.0, 0.0, 611.0, 701.0, 99.0}",11094.0,96.633333,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 7.0, 70.0}",...,652.000000,2174.000000,30.415710,36.528370,3.000000,73.000000,484.000000,11.890784,813.000000,306.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,2022-07-30 16:00:00,5.465586e+08,7.050925e+04,{DB3},{1.0},"{98.0, 0.0, 701.0, 702.0, 99.0}",10863.0,109.333333,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0}",...,747.135024,20689.531376,69.370134,64.580993,116.274144,82.638641,40.293608,400.921240,815.911508,309.483514
543,2022-07-30 20:00:00,5.465841e+08,2.546358e+04,{DB3},{1.0},{1102.0},14400.0,109.333333,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0}",...,747.135024,20729.000000,42.679245,44.277628,116.274144,76.000000,991.000000,0.119272,819.000000,305.000000
544,2022-07-31 00:00:00,5.465929e+08,8.796186e+03,{DB3},{1.0},"{98.0, 1102.0, 0.0}",17909.0,109.333333,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0}",...,0.462562,20729.462336,41.374605,41.555706,36.700947,85.432341,415.624944,2.449030,817.194181,305.741092
545,2022-07-31 04:00:00,5.466415e+08,4.868635e+04,{DB3},{1.0},"{98.0, 0.0, 710.0, 901.0, 99.0}",12435.0,129.466667,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0, 0.0}",...,65.851867,20794.850217,68.465924,61.887874,131.088067,94.469022,14.924042,429.154369,815.015328,305.225016
546,2022-07-31 08:00:00,4.100295e+08,-1.366120e+08,{DB3},{1.0},"{98.0, 710.0, 701.0, 901.0, 99.0}",12695.0,156.750000,"{S_DAN2, S_SCH4B, S_DAN1}","{99.0, 70.0}",...,175.350518,20904.348907,69.457480,63.215535,122.862543,81.811738,55.031588,443.438723,816.628366,305.172267